<header>
    <a href="{% url 'Task_Manager:home' %}" class="logo">TaskFlow 🚀</a>
    <nav>
        {% if user.is_authenticated %}
        
            <form action="{% url 'Task_Manager:home' %}" method="GET">
                <button type="submit" class="nav-button home-btn">Home</button>
            </form>

            <form action="{% url 'Task_Manager:dashboard' %}" method="GET">
                <button type="submit" class="nav-button dashboard-btn">Dashboard</button>
            </form>
            
            <form action="{% url 'user:log_out' %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="nav-button logout-btn">Log Out</button>
            </form>
        {% else %}
            <form action="{% url 'user:sign_up' %}" method="GET">
                <button type="submit" class="nav-button signup-btn">Sign Up</button>
            </form>

            <form action="{% url 'user:log_in' %}" method="GET">
                <button type="submit" class="nav-button login-btn">Log In</button>
            </form>
        {% endif %}
    </nav>
</header>